.hero {
  background-position: bottom;
  height: auto;
  text-align: center;
  margin-bottom: 1.058cm;  
}
.page-title {
  color: #fce138;
  display: inline-block;
  border-bottom: 0.106cm solid #fce138;   
  padding: 0 2.116cm 0.397cm 2.116cm;    
  font-weight: normal;
  font-size: 1.111cm;                    
  font-style: italic;
}
.secondary-content {
  width: 80%;
  margin: 0 auto;
  color: #024e76;
}
.secondary-content h3 {
  font-size: 0.661cm;  
  margin: 0.529cm 0;   
}
.secondary-content p {
  font-size: 0.423cm;   
  line-height: 1.5;
  margin: 0.529cm 0;  
}
.secondary-content ul {
  margin: 0.397cm 0.529cm;  
}
.secondary-content li {
  color: #39a6b2;
  margin: 0.265cm 0;   
}
