.hero {
  background-position: bottom;
  height: auto;
  text-align: center;
  margin-bottom: 1.05833cm; 
}

.page-title {
  color: #fce138;
  display: inline-block;
  border-bottom: 0.10583cm solid #fce138; 
  padding: 0 2.11666cm 0.39687cm 2.11666cm; 
  font-weight: normal;
  font-size: 1.11125cm;
  font-style: italic;
}

.secondary-content {
  width: 80%;
  margin: 0 auto;
  color: #024e76;
}

.secondary-content h3 {
  font-size: 0.66146cm; 
  margin: 0.52917cm 0; 
}

.secondary-content p {
  font-size: 0.42333cm; 
  line-height: 1.5;
  margin: 0.52917cm 0; 
}

.secondary-content ul {
  margin: 0.39687cm 0.52917cm; 
}

.secondary-content li {
  color: #39a6b2;
  margin: 0.26458cm 0; 
}
