.hero {
  background-position: bottom;
  height: auto;
  text-align: center;
  margin-bottom: 1.0583cm; 
}

.page-title {
  color: #fce138;
  display: inline-block;
  border-bottom: 0.1058cm solid #fce138; 
  padding: 0 2.1167cm 0.3969cm 2.1167cm; 
  font-weight: normal;
  font-size: 1.1112cm; 
  font-style: italic;
}

.secondary-content {
  width: 80%;
  margin: 0 auto;
  color: #024e76;
}

.secondary-content h3 {
  font-size: 0.6615cm;
  margin: 0.5292cm 0; 
}

.secondary-content p {
  font-size: 0.4233cm; 
  line-height: 1.5;
  margin: 0.5292cm 0; 
}

.secondary-content ul {
  margin: 0.3969cm 0.5292cm; 
}

.secondary-content li {
  color: #39a6b2;
  margin: 0.2646cm 0; 
}