* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* apply styles to <header> */
header {
    padding: 0.5cm 0.87cm;
    background-color: #39a6b2;
  }

  header a {
    color:#fce138;
    text-decoration:none;
  }
  header h1 {
    font-weight:bold;
    font-size:1cm;
    color:#fce138;
    margin:0;
    display: inline;
  }
  header nav {
    float:right;
    margin:0.17cm 0;
  }
  header nav ul li {
    display:inline;
  }

  header nav ul li a {
    margin:0 0.75cm;
     font-weight:lighter;
     font-size:0.55cm;
   }

   footer {
    background:#fce138;
    width:100%;
    padding:1cm 0.87cm;
    }
    
    footer h2 {
      display:inline;
    color:#024e76;
    font-size:0.75cm;
      margin:0;
    }
    footer div {
      float:right;
    line-height:1.5;
    text-align:right;
    }
    footer a {
    color:#024e76;
    }
/* Hero Style Start */
.hero {
height: 600px;
background-image: url("https://static.fullstack-bootcamp.com/module-1/hero-bg.jpg");
background-size: cover;
background-position: center;
position: relative;
}
.hero-form {
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  border: solid 3px #024e76;
  position:absolute;
  bottom:3cm;
  right:3.5cm;
}
.hero-form h3 {
  font-size:0.6cm;
  margin:0.6cm;
}
.hero-form p {
  margin: 0.125cm 0 0.37cm 0; 
 }
.hero-form label {
 margin:0 0.125cm; 
}
.hero-form button {
color:#fce138;
 background:#024e76;
  border:none;
  padding:0.25cm 0.50cm;
  font-size:0.38cm;
}
.form-input {
border:0.025cm solid #024e76;
  display:block;
  padding:0.17cm 0.37cm;
  font-size:0.39cm;
}

/* Hero Style End */


    section {
      padding: 60px; 
    }

    .intro {
      text-align:center;
    }
    .intro h2 {
   
    }
    .intro p {
      line-height:1.7;
      color:#39a6b2;
      width:80%;
      font-size:0.5cm;
      margin:0 auto;
    }

    .steps {
      text-align: center;
      background: #fce138;
      
    }
    .steps h2 {

    }

    .steps div {
      margin-bottom:2cm;
      
    }
    .steps img {
      width:15%;
      margin:0.25cm 0;
      
    }
    .steps h3 {
    color:#024e76;
      font-size:1cm;
      margin-top:0.25cm;
    }
    .steps p {
    color:#39a6b2;
      font-size:0.6cm;
    }
    .steps span {
      font-size:0.90px;
    }
.trainers {
text-align: center;
}

.trainer {
  width:22.5cm;
  margin:0 auto 0.75cm auto;  
  background:#024e76;
  color:#fce138;  
  overflow: auto;
  }

  .trainer img {
    width:35%;
     float:left;
   }
 .trainer-bio {
  padding:0.87cm;
   float:left;
   width:65%;
 }
 .trainer-bio h3 {
  font-size: 0.78cm;
  margin-bottom:0.2cm;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size:0.65cm;
  margin-bottom: 0.62cm;
}

.trainer-bio p {
  font-size: 0.42cm;
  line-height: 1.3;
}

 .text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

    .section-title {
      font-size:1.37cm;
      color:#024e76;
      margin-bottom:0.87cm;
     padding:0 2.5cm 0.5cm 2.5cm;
      border-bottom:0.075cm solid #39a6b2;
     display:inline-block;
     
    }

    .primary-border {
      border-color: #fce138;
    }
    
    .secondary-border {
      border-color: #39a6b2;
    }