* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* apply styles to <header> */
header {
    padding: 0.5cm 0.87cm;
    background-color: #39a6b2;
  }

  header a {
    color:#fce138;
    text-decoration:none;
  }
  header h1 {
    font-weight:bold;
    font-size:1cm;
    color:#fce138;
    margin:0;
    display: inline;
  }
  header nav {
    float:right;
    margin:0.17cm 0;
  }
  header nav ul li {
    display:inline;
  }

  header nav ul li a {
    margin:0 0.75cm;
     font-weight:lighter;
     font-size:0.55cm;
   }

   footer {
    background:#fce138;
    width:100%;
    padding:1cm 0.87cm;
    }
    
    footer h2 {
      display:inline;
    color:#024e76;
    font-size:0.75cm;
      margin:0;
    }
    footer div {
      float:right;
    line-height:1.5;
    text-align:right;
    }
    footer a {
    color:#024e76;
    }